body * {
  font-family: "Ubuntu Mono";
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding: 5px 10px;
}

.A {
  color: purple;
}

.C {
  color: red;
}

.G {
  color: blue;
}

.T {
  color: green;
}
