ul {
  list-style-type: none;
}

html, body { 
  height: 100vh; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.first-panel {
  flex: 1 1;
  display: flex;
}

.first-panel .sequences {
  flex: 1 1;
  display: flex;
}

.first-panel .sequences .sequence-wrapper {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.first-panel .sequences .sequence-wrapper > ul {
  flex: 1 1;
  overflow: scroll;
  min-height: 0;
}

.pause-fetch {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #ddd;
  font-size: 120%;
}

.second-panel {
  flex: 1 1;
  flex-direction: column;
  display: flex;
  background-color: #cddccd;
  background-image: url(/images/bokeh.jpg);
  background-size: cover;
}

.second-panel form {
  flex: 1 1;
  padding: 10px;
}

form.fetch-sequences {
  overflow-x: scroll;
}

form.fetch-sequences .flexible-fields, form.search-sequences .flexible-fields {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form.fetch-sequences input[type=submit], form.search-sequences input[type=submit] {
  display: block;
  margin-top: 20px;
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
}

form.search-sequences input[type=text] {
  text-transform: uppercase;
  text-align: center;
}

input:focus {
  outline: none;
}

input[type=text] {
  font-family: ScalaSansPro, Ubuntu, Helvetica;
  font-size: 120%;
  color: #fff;
  padding: 5px 10px;
  border: 0;
  background-color: transparent;
  border-bottom: solid 2px #fff;
  display: inline-block;
  width: 150px;
}

input+input {
  margin-top: 10px;
}

.nucleotide {
  font-size: 130%;
  display: inline-block;
  font-family: "Ubuntu Mono";
  text-align: center;
  width: 25px;
  line-height: 25px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 13px;
}

.A {
  background-color: purple;
  color: #fff;
  border: solid 1px purple;
}

.C {
  background-color: red;
  color: #fff;
  border: solid 1px red;
}

.G {
  background-color: blue;
  color: #fff;
  border: solid 1px blue;
}

.T {
  background-color: green;
  color: #fff;
  border: solid 1px green;
}

.nucleotide.highlighted {
  background-color: #fff;
  color: #666;
}

